@import url(/Sass/cssreload.css);
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
h1 {
  color: hsl(210deg, 10%, 33%);
}

h2 {
  color: hsl(210deg, 10%, 33%);
  margin: 30px;
}

h3 {
  color: hsl(210deg, 10%, 33%);
  margin: 30px;
  margin-bottom: 10px;
}

p {
  color: hsl(201deg, 11%, 66%);
  margin: 30px;
  margin-top: 0;
  line-height: 25px;
  font-size: 14px;
}

/*  Version mobile */
body {
  background: url(/images/bg-header-mobile.png) top no-repeat;
  background-size: contain;
  font-family: "Bai Jamjuree";
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 40px;
}
body .container-body {
  margin: auto;
  min-height: 100vh;
  max-width: 370px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
body .container-body header {
  align-self: center;
}
body .container-body header img {
  width: 100px;
  height: 100px;
  margin: 80px 0;
}
body .container-body header .txt-header {
  margin: 0 35px;
  width: 312px;
}
body .container-body header .txt-header p {
  margin: 20px;
}
body .container-body header .txt-header .descarga {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .container-body header .txt-header .descarga button {
  text-decoration: none;
  color: #fff;
  width: 100%;
  font-size: 14px;
  padding: 12px;
  border-radius: 20px;
  box-shadow: 0 1px 3px hsl(210deg, 10%, 33%);
  border: none;
}
body .container-body header .txt-header .descarga .btn-ios {
  background-color: hsl(171deg, 66%, 44%);
}
body .container-body header .txt-header .descarga .btn-mac {
  background-color: hsl(233deg, 100%, 69%);
}
body .container-body .section-1 .title-1 h2 {
  margin: 30px 30px;
}
body .container-body .section-1 img {
  width: 312px;
  height: 240px;
  margin: 30px;
}
body .container-body .section-1 .lista .text h3 {
  margin: 10px;
}
body .container-body .section-1 .lista .text p {
  margin: 10px 30px 30px 30px;
}
body .container-body .section-2 h2 {
  margin-bottom: 10px;
}
body .container-body .section-2 img {
  width: 312px;
  height: 180px;
}
body .container-body .section-3 h2 {
  margin: 40px;
  margin-bottom: 10px;
}
body .container-body .section-3 p {
  margin: 40px;
}
body .container-body .section-3 .container .work img {
  margin: 30px 0 0 0;
  width: 30px;
  height: 30px;
}
body .container-body .section-3 .container .logos {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
body .container-body .section-3 .container .logos img {
  width: 125px;
}
body .container-body .section-4 {
  width: 370px;
  align-self: center;
}
body .container-body .section-4 .descarga {
  width: 100%;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .container-body .section-4 .descarga button {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  width: 80%;
  font-size: 14px;
  padding: 12px;
  border-radius: 20px;
  box-shadow: 0 1px 3px hsl(210deg, 10%, 33%);
  border: none;
}
body .container-body .section-4 .descarga .btn-ios {
  background-color: hsl(171deg, 66%, 44%);
}
body .container-body .section-4 .descarga .btn-mac {
  background-color: hsl(233deg, 100%, 69%);
}
body footer {
  background: #f5f6f8;
  background-image: cover;
}
body footer .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
body footer .footer img {
  margin-top: 30px;
  width: 60px;
}
body footer .footer .contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 12px;
}
body footer .footer .contact a {
  text-decoration: none;
  color: hsl(210deg, 10%, 33%);
}
body footer .footer .redes {
  display: flex;
  margin-bottom: 30px;
  gap: 40px;
}
body footer .footer .redes i {
  scale: 1.5;
  color: hsl(210deg, 10%, 33%);
}
body footer .attribution {
  font-size: 11px;
  text-align: center;
  margin: 30px 0;
}
body footer .attribution a {
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}

@media screen and (min-width: 720px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  p {
    font-size: 30px;
    line-height: 50px;
  }
  body .container-body {
    max-width: 700px;
    background: url(/images/bg-header-desktop.png) top no-repeat contain;
  }
  body .container-body header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .container-body header img {
    align-self: center;
  }
  body .container-body header .txt-header {
    width: 80%;
    margin: 0;
  }
  body .container-body header .txt-header .descarga {
    margin: 0;
    gap: 20px;
  }
  body .container-body header .txt-header .descarga button {
    margin-left: 0;
    align-self: center;
    font-size: 30px;
  }
  body .container-body .section-4 {
    width: 100%;
  }
  body .container-body .section-4 .descarga {
    margin: 0;
    gap: 20px;
  }
  body .container-body .section-4 .descarga button {
    margin-left: 0;
    align-self: center;
    font-size: 30px;
  }
  body footer .footer {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: auto auto;
    gap: 20px;
  }
  body footer .footer img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  body footer .footer .contact {
    grid-column: 2/4;
    grid-row: 1/2;
    flex-direction: row;
    font-size: 20px;
    gap: 25px;
    margin-top: 10px;
    margin-right: 10px;
  }
  body footer .footer .redes {
    grid-column: 6;
    grid-row: 1/2;
    align-items: end;
    margin-bottom: 0;
  }
  body footer .attribution {
    grid-column: 1/-1;
    grid-row: 2/-1;
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */