@import url(/Sass/cssreload.css);
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

$StrongCyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 69%);
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);
h1{
    color: $DarkGrayishBlue;
}
h2{
    color: $DarkGrayishBlue;
    margin: 30px;

}
h3{
    color: $DarkGrayishBlue;
    margin: 30px;
    margin-bottom: 10px;
}
p{
    color: $GrayishBlue;
    margin: 30px;
    margin-top: 0;
    line-height: 25px;
    font-size: 14px;
}




$font:'Bai Jamjuree';

/*  Version mobile */

body{
    background: url(/images/bg-header-mobile.png)  top  no-repeat;
    background-size: contain;

    font-family: $font;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 40px;
.container-body{
    margin: auto;
    min-height: 100vh;
    max-width: 370px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    


        
    header{
        align-self: center;
        img{

            width: 100px;
            height: 100px;
            margin: 80px 0;
        }
        .txt-header{
            margin: 0 35px;
            width: 312px;
        
        p{
            margin: 20px;
        }

        .descarga{
            margin: 30px 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            button{
                font-family: $font;
                text-decoration: none;
                color: #fff;
                width: 100%;
                font-size: 14px;
                padding: 12px;
                border-radius: 20px;
                box-shadow: 0 1px 3px $DarkGrayishBlue;
                border: none;
        
            }
            button:hover{
                cursor: pointer;
                opacity: 90%;
            } 
            .btn-ios{
                background-color: $StrongCyan;
                
            
            }
            .btn-mac{
                background-color: $LightBlue;
            }
            
        }
    }


}

.section-1{

    .title-1{
        h2{
            margin: 30px 30px;
        }
    
    }


    img{
        width: 312px;
        height: 240px;
        margin: 30px;
    }

    .lista{
        .text{
            h3{
                margin: 10px;
            }
            p{
                
                margin: 10px 30px 30px 30px;
            }
        }
    }

}

.section-2{
    h2{
        margin-bottom: 10px;
    }


    img{
        width: 312px;
        height: 180px;
    }
}

.section-3{

    h2{
        margin: 40px;
        margin-bottom: 10px;
    }
    p{
        margin: 40px;
    
    }

    .container{
        .work{
            img{
                margin: 30px 0 0 0;
                width: 30px;
                height: 30px;
            }
        }

        .logos{
            margin: 70px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 70px;
            img{
                width: 125px;
            }
        }
    }

    }

    .section-4{
        width: 370px;
        align-self: center;
        
        .descarga{
            width: 100%;
            margin: 40px 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            button{
                font-family: $font;
                margin-left: 40px;
                text-decoration: none;
                color: #fff;
                width: 80%;
                font-size: 14px;
                padding: 12px;
                border-radius: 20px;
                box-shadow: 0 1px 3px $DarkGrayishBlue;
                border: none;

                
            } 
            button:hover{
                cursor: pointer;
                opacity: 90%;
            }
            .btn-ios{
                background-color: $StrongCyan;
                
            
            }
            .btn-mac{
                background-color: $LightBlue;
            }
    
    }



}





}
footer{ background: #f5f6f8;
    background-image: cover;
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    img{
        margin-top: 30px;
        width: 60px;
    }

    .contact{
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 12px;

        a{
            text-decoration: none;
            color: $DarkGrayishBlue;
        }
    }
    .redes{
        display: flex;
        margin-bottom: 30px;
        gap: 40px;
        i{
        
            scale: 1.5;
            color: $DarkGrayishBlue;
        }
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin: 30px 0;

    a { color: hsl(228, 45%, 44%); 
        text-decoration: none;}
    }

    }
}


@media screen and (min-width:720px) {

    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 35px;
    }

    p{
        font-size: 30px;
        line-height: 50px;
    }

    body{ .container-body{
        max-width: 700px;
        background: url(/images/bg-header-desktop.png) top no-repeat contain;
        header{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                
                align-self: center;
            }
            
            .txt-header{
                width: 80%;
                margin: 0;
                .descarga{
                    margin: 0;
                    gap: 20px;
                    button{
                        margin-left: 0;
                        align-self: center;
                        font-size: 30px;
                    }
                }
            }
        }
        
        .section-4{
            width: 100%;
            .descarga{
                margin: 0;
                gap: 20px;
                button{
                    margin-left: 0;
                    align-self: center;
                    font-size: 30px;
                }
            }
        }

    }
    footer{


        .footer{
            margin-top: 40px;
            display: grid;
            grid-template-columns: 100px 100px 100px 100px 100px;
            grid-template-rows: auto auto;
            gap: 20px;

            img{
                grid-column: 1/2;
                grid-row: 1/2;
            }
            .contact{
                grid-column: 2/4;
                grid-row: 1/2;
                flex-direction: row;
                font-size: 20px;
                gap: 25px;
                margin-top: 10px;
                margin-right:10px ;

            }
            .redes{
                grid-column:6;
                grid-row: 1/2;
                align-items: end;
                margin-bottom: 0;
                

            
            }
        }

        .attribution{
            grid-column: 1/-1;
            grid-row: 2/-1;
            font-size: 20px;}

        }
}


}

@media screen and (min-width:1240px) {


    h1{
        font-size: 40px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 25px;
    }

    p{
        font-size: 20px;
        line-height: 40px;
    }
    body{
        .container-body{

            max-width: 1440px;
            margin-top: 150px;
        


            header{
                
                .txt-header{
                    h1{
                        font-size: 3rem;
                    }
                p{
                    font-size: 1.2rem;
                    margin-bottom: 60px;
                }
                .descarga{
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: 40px;
                    button{
                        align-self: center;
                        font-size: 1.1rem;
                        width: 220px;
                        height: 55px;
                        margin-bottom: 40px;
                    }
                }
            }
            }
            
            .section-1{
                
                img{

                    width: 720px;
                    height: 570px;
                    margin: 0;
                    float: left;
                    margin-right: 60px;
                    margin-bottom: 80px;
                }
                .title-1{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    h2{
                    font-size: 2rem;
                    }
                    p{
                        font-size: 1.1rem;
                        line-height: 1.5;
                        width: 700px;
                        align-self: center;
                        
                    }

                    margin-bottom: 50px;
                }
                .lista{
                    text-align: left;
                    
                    
                }

            }


        }
    }
    
}